// datetime container
v-dialog( v-bind='dialogProps' v-model='dialog' )

  // datetime field
  template( slot='activator' slot-scope='props' )
    v-text-field( readonly :rules='_rules' v-bind='fieldProps' v-model='datetime' v-on='props.on' )

      // datetime field append
      template( slot='append' )
        v-tooltip( bottom )
          template( slot='activator' slot-scope='props' )
            v-btn( icon small v-bind='selectButtonProps' v-on='props.on' @click='dialog = true' )
              v-icon( small ) {{ dateIcon }}
          span {{ selectButtonText }}

  // datetime picker          
  v-card( tile v-bind='cardProps' )
    v-card-text( v-bind='textProps' )
      v-tabs( fixed-tabs v-model='tab' )

        // datetime picker tab headers
        v-tab( key='calendar' )
          v-icon {{ dateIcon }}
        v-tab( :disabled='timer' key='timer' )
          v-icon {{ timeIcon }}

        // datetime picker tab items
        v-tab-item(key='calendar')
          v-date-picker( 
            class='border-radius-0 elevation-0' 
            full-width 
            v-bind='datePickerProps' 
            v-model='date' 
            @input='onInputDate' 
            )
        v-tab-item(key='timer')
          v-time-picker( 
            class='border-radius-0 elevation-0' 
            full-width 
            v-bind='timePickerProps' 
            v-model='time' 
            )

    // datetime picker actions        
    v-card-actions( class='justify-end' )
      v-btn( v-bind='_resetProps' @click='onClickReset') {{ clearText }}
      v-btn( v-bind='_submitProps' @click='onClickSubmit') {{ okText }}
